$theme-colors: (
  'primary': #fe575b,
  'dark': #03070c,
);

$bg-colors: (
  dark: #436e8c,
  base: #4b475b,
  light: #a1537e,
);

$text-colors: (
  base: #fff,
  secondary: #c2c6e1,
);

// Fonts
$font-size-base: 1.2rem;
$font-family-sans-serif: 'Roboto';
$headings-font-family: 'Rubik';

// Buttons
$button-border-radius: 35px;
