$theme-colors: (
  'primary': #fffb00,
);

$colors-bg: (
  dark: #2f3356,
  base: #3f3257,
  light: #8a3075,
);

// Fonts
$font-size-base: 1.2rem;
$font-family-sans-serif: 'Roboto';
$headings-font-family: 'Rubik';

// Buttons
$button-border-radius: 35px;
