.hero {
  margin-top: 100px;

  &__copy {
    @include make-row();

    &-title {
      @include make-col-ready();
      @include make-col(10);
      @include type--title();
      margin-bottom: 60px;
    }

    &-description {
      @include make-col-ready();
      @include make-col(8);
      @include type--body();
    }

    &-link {
      @include make-col-ready();
      @include make-col(12);
      margin-top: 30px;
    }
  }

  &__actions {
    position: relative;
    counter-reset: action;
    margin-top: 75px;
    background-color: rgba(255, 255, 255, 0.05);

    &-wrapper {
      @include make-row();
    }
  }

  &__action {
    @include reset-button();
    @include make-col-ready();
    @include make-col(3);
    @include type--subtitle();
    counter-increment: action;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 220px;
    background-color: rgba(255, 255, 255, 0.025);
    transition: color 0.3s ease;

    &:hover {
      color: text-color('base');

      &:after {
        opacity: 1;
      }
    }

    &:before {
      @include type--label();
      content: '0' counter(action);
      margin-bottom: 10px;
      color: text-color('secondary');
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 30px;
      left: 15px;
      display: block;
      width: calc(100% - 75px);
      height: 1px;
      background-color: text-color('secondary');
      opacity: 0.3;
      transition: opacity 0.3s ease;
    }
  }
}
