.button {
  @include reset-button();
  @include type--button();
  position: relative;
  display: inline-flex;
  padding: 20px 35px;
  border-radius: $button-border-radius;
  border: 2px solid rgba(255, 255, 255, 0.035);
  box-shadow: 0px 5px 20px 0 rgba(theme-color('dark'), 0.3);
  color: text-color('base');

  &:hover,
  &:focus {
    color: text-color('base');
    text-decoration: none;
  }

  &--primary {
    background-color: theme-color('primary');
    box-shadow: 0px 5px 20px 0 rgba(theme-color('primary'), 0.3);
  }
}
