.qui-grid {
  @include qui-grid();
  z-index: -1;
  height: 100%;
}

.qui-gradient {
  @include qui-gradient();
  height: 100%;
}

.qui-turbulence {
  pointer-events: none;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  svg,
  svg rect {
    width: 100%;
    height: 100%;
  }
}
